.gamepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 80dvh;
}

.welcome {
    background-color: gray;
    height: 100dvh;
    padding-top: 2rem;
}

.welcome-text {
    margin: .5rem auto;
}

